<p>Here are all the concert venues</p>

<ul class="list-group">
  <% @venues.all().each() do |venue| %>
    <li class="list-group-item"><a href="/venues/<%= venue.id %>"><%= venue.name %></a></li>
  <% end %>
</ul>

<form action="/venues" method="post">
  <div class="form-group">
    <label for="name">Add a New Venue</label>
    <input id="name" name="name" type="text" class="form-control" placeholder="Enter the name of a venue">
  </div>
  <button class="btn btn-default" type="submit">Add Venue</button>
</form>

<hr>

<p>Bands that you may want to see in concert</p>

<ul class="list-group">
  <% @bands.all().each() do |band| %>
    <li class="list-group-item"><a href="/bands/<%= band.id %>"><%= band.name %></a></li>
  <% end %>
</ul>

<form action="/bands" method="post">
  <div class="form-group">
    <label for="name">Add a New Band</label>
    <input id="name" name="name" type="text" class="form-control" placeholder="Enter the name of the band">
  </div>
  <button class="btn btn-default" type="submit">Add Band</button>
</form>
